@model X.PagedList.IPagedList<AsArch.NET.EntityDataModel.Entytis.ItemNode>
@using X.PagedList.Mvc;
@*//пагинация*@
<div>
    Стр. @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
</div>
