@using AsArch.NET.Models
@model NodeEditViewModels

@{
    ViewBag.Title = "Редактировать";
    //TempData["Attrs"] = Model.Attrs;
}

<h4>@Model.NameNode</h4>
<hr />
<!--#region Назад-->
<div>
    @Html.ActionLink("Назад", "Index", new { id = Model.IdParent }, new { @class = "btn btn-default" })
</div>
<!-- #endregion -->


@if (Model.IdItemType == 1954)
{
    Html.RenderPartial("_editIskovoeZayvlenie", Model);
}
else
{
    Html.RenderPartial("_editAll", Model);
}
<!--#region Назад-->
<div>
    @Html.ActionLink("Назад", "Index", new { id = Model.IdParent }, new { @class = "btn btn-default" })
</div>
<!-- #endregion -->

@section scripts
{
    @*Для коментариев *текст* - remarkable, берет текст Markdown и преобразует его в необработанный HTML*@
    @*@Scripts.Render("~/bundles/remarkable")*@

    @Scripts.Render("~/bundles/jqueryval")

}